html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;   /* #F5F7FA */
}

.main-content {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 90px;
}

.img {
    width: 200px;

}

.family {
    color: #dc6626;
}