h1 {
    background: silver;
    margin: 0;
    text-align: center;

}

.card {
    max-width: 400px;
    background: cornflowerblue;
    display: flex;
}

/*0-400 px*/
@media screen and (min-width: 0px) and  (max-width: 576px) {
}
@media screen and (min-width: 576px) and  (max-width: 768px) {
}

@media screen and (min-width: 768px) and  (max-width: 992px) {
}

@media screen and (min-width: 992px) and  (max-width: 1200px) {
}

@media screen and (min-width: 1200px) and  (max-width: 1400px) {
}


